@import '../../../SCSS/index.scss';


nav {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  background-color: $newRed;
  
  &.is-fixed {
    position: fixed;
    top: 4.25rem;
    box-shadow: 0px 2px 8px 2px $box-shadow-color;
  }
  
  .scroll-left, .scroll-right {
    position: absolute;
    height: 100%;
    width: 1rem;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: 1s ease-in-out;
    opacity: 0;
    pointer-events: none;
    
    @media only screen and (max-width: 970px) {
      opacity: 1;
      pointer-events: all;
    }
  }
  
  .scroll-left {
    background-position-x: 2px;
    background-image: url('../../../assets/misc/chev-l.png');
    left: 0;
    
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 100%;
      width: 1rem;
      height: 100%;
      background: linear-gradient(to right, #000 , transparent);
    }
  }
  
  .scroll-right {
    background-position-x: -2px;
    background-image: url('../../../assets/misc/chev-r.png');
    right: 0;
    
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 100%;
      width: 1rem;
      height: 100%;
      background: linear-gradient(to left, #000 , transparent);
    }
  }
  
  div {
    overflow-x: overlay;
    display: flex;
    padding: 0;
    transition: 1s ease-in-out;
    
    &::-webkit-scrollbar {
      display: none;
    }
    
    @media only screen and (max-width: 970px) {
      padding: 0 2rem;
    }
    
    button {
      @include center-all();
      border-radius: 1.5rem;
      padding: 0.25rem 0.75rem;
      background-color: $newRed;
      color: #fff;
      
      svg {
        height: 1.75rem;
        width: 1.75rem;
        margin-right: 0.5rem;
        fill: #fff;
      }
      
      &:hover, &:active, &:focus {
        background-color: #fff;
        color: #000;
        
        svg {
          fill: #000;
        }
      }
    }
  }
}