@import '../../../SCSS/index.scss';

h1 {
  position: relative;
  color: $newRed;
  width: max-content;
  padding: 0 0.5rem;
  margin-left: 1rem;
  margin-bottom: 0;
  font-weight: 700;
  letter-spacing: 2px;
}
.top-stories {
  display: flex;
  position: relative;
  color: #fff;
  height: 25rem;
  border-radius: 1rem;
  box-shadow: 
    1px 1px 0px 0px #fff, 
    6px 6px 12px 6px $box-shadow-color, 
    inset 1px 1px 0px 0px #ffffff73, 
    inset 1px 1px 8px 4px #000, 
    -4px -2px 1px 2px $newRed;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  transition: background-image 0.8s ease-in-out;
  
  &.no-image {
    background-image: url('../../../assets/black.jpg')!important;
  }
  
  strong {
    cursor: default;
    position: absolute;
    top: 0.5rem;
    left: 0.75rem;
    background-color: rgba(0,0,0,0.8);
    padding: 0.25rem 0.75rem;
    border-radius: 1.5rem;
    height: fit-content;
    max-width: calc(100% - 1.5rem);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .main-controls {
    display: flex;
    position: absolute;
    bottom: 0.5rem;
    right: 0.75rem;
    justify-content: space-evenly;
    padding: 0.25rem;
    border-radius: 1.5rem;
    background-color: rgba(0,0,0,0.8);
    
    button {
      @include center-all();
      height: 2.25rem;
      width: 2.25rem;
      border-radius: 50%;
      border: 1px solid transparent;
      background-color: transparent;
      color: #fff;
      transition: 0.2s;
      
      &:hover {
        background-color: #000;
        &.stop {
          border-color: $newRed;
        }
        &.play {
          border-color: $newGreen;
        }
        &.forward, &.backward {
          border-color: #fff;
        }
      }
    }
    .speed {
      @include center-all();
      position: absolute;
      top: -1rem;
      right: 0;
      background-color: $newRed;
      height: 1.25rem;
      width: 1.25rem;
      border-radius: 50%;
      font-weight: 600;
      
      sub {
        position: absolute;
        bottom: 4px;
        right: -2px;
        font-weight: 700;
      }
    }
  }
  
  .no-articles {
    display: flex;
    position: absolute;
    bottom: 0.5rem;
    right: 0.75rem;
    justify-content: space-evenly;
    padding: 0.25rem 1rem;
    padding-bottom: 0.5rem;
    border-radius: 1.5rem;
    background-color: rgba(0,0,0,0.8);
  }
  
  .source-selector {
    display: flex;
    position: absolute;
    bottom: 0.5rem;
    left: 0.75rem;
    background-color: $newRed;
    padding: 0 0.5rem;
    border-radius: 1rem;
    
    &.active {
      padding-bottom: 0.5rem;
      border-radius: 0.5rem;
    }
    
    summary {
      @include center-all();
      
      &.active {
        margin: 0.25rem 0;
      }
      
      span {
        font-weight: bold;
      }
      
      i {
        &.active {
          transform-origin: 50% 55%;
          transform: rotate(180deg);
        }
      }
    }
    
    .src-btn-wrap {
      display: flex;
      flex-direction: column;
      
      button {
        padding: 0;
        border-radius: 0.25rem;
        background-color: #fff;
        
        &:hover {
          color: $newRed;
          font-weight: bold;
        }
      }
    }
  }
  
  .loading-articles {
    @include center-all();
    position: absolute;
    z-index: 1982;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 1rem;
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(4px);
    &::after {
      content: '📰';
      position: absolute;
      font-size: 1.75rem;
    }
    
    i {
      font-size: 6.5rem;
      animation: spin 1s infinite linear;
      @keyframes spin {
        from {transform: rotate(0deg); opacity: 0.75;}
        50% {opacity: 1;}
        to {transform: rotate(360deg); opacity: 0.75;}
      }
    }
  }
}
.top-details {
  margin: 1rem;
}