@import '../../../SCSS/index.scss';

.top-stories {
  display: flex;
  position: relative;
  color: #fff;
  height: 25rem;
  border-radius: 1rem;
  box-shadow: 
    1px 1px 0px 0px #fff, 
    6px 6px 12px 6px $box-shadow-color, 
    inset 1px 1px 0px 0px #ffffff73, 
    inset 1px 1px 8px 4px #000, 
    -4px -2px 1px 2px $newRed;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 1s ease-in-out;
  
  strong {
    cursor: default;
    position: absolute;
    top: 0.5rem;
    left: 0.75rem;
    background-color: rgba(0,0,0,0.8);
    padding: 0.25rem 0.75rem;
    border-radius: 1.5rem;
    height: fit-content;
    max-width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .main-controls {
    display: flex;
    position: absolute;
    bottom: 0.5rem;
    right: 0.75rem;
    justify-content: space-evenly;
    padding: 0.25rem;
    border-radius: 1.5rem;
    background-color: rgba(0,0,0,0.8);
    
    button {
      @include center-all();
      height: 2.25rem;
      width: 2.25rem;
      border-radius: 50%;
      border: 1px solid transparent;
      background-color: transparent;
      color: #fff;
      transition: 0.2s;
      
      &:hover {
        background-color: #000;
        &.stop {
          border-color: $newRed;
        }
        &.play {
          border-color: $newGreen;
        }
        &.forward, &.backward {
          border-color: #fff;
        }
      }
    }
    .speed {
      @include center-all();
      position: absolute;
      top: -1rem;
      right: 0;
      background-color: $newRed;
      height: 1.25rem;
      width: 1.25rem;
      border-radius: 50%;
      font-weight: 600;
      
      sub {
        position: absolute;
        bottom: 4px;
        right: -2px;
        font-weight: 700;
      }
    }
  }
  
  .no-articles {
    display: flex;
    position: absolute;
    bottom: 0.5rem;
    right: 0.75rem;
    justify-content: space-evenly;
    padding: 0.25rem 1rem;
    padding-bottom: 0.5rem;
    border-radius: 1.5rem;
    background-color: rgba(0,0,0,0.8);
  }
  
  .source-selector {
    display: flex;
    position: absolute;
    bottom: 0.5rem;
    left: 0.75rem;
    background-color: $newRed;
    padding: 0 1rem;
    border-radius: 1rem;
    padding-bottom: 2px;
    
    summary {
      @include center-all();
    }
    .src-btn-wrap {

      button {
  
      }
    }
  }
  
  .loading-articles {
    @include center-all();
    position: absolute;
    z-index: 1982;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 1rem;
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(4px);
  }
}