
<ng-container>
  <div 
    (mouseenter)="isActive = true"
    (mouseleave)="isActive = false"
    class="col-6 mx-auto top-stories"
    [class.no-image]="loadingArticles"
    [style.background-image]="'url('+articles[0].urlToImage+')'">
    
    <ng-container *ngIf="!loadingArticles; else isLoadingArticles">
      <strong title="{{articles[0].title}}">
        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
        &nbsp;{{articles[0].title}}
      </strong>
      
      <ng-container *ngIf="isActive && articles.length > 1">
        <div class="main-controls">
          <button 
            class="backward"
            title="back"
            (click)="backwardArticles()">
            <i class="fa fa-backward backward" aria-hidden="true"></i>
          </button>
          <button 
            class="play"
            title="play"
            *ngIf="!isPlaying"
            (click)="playArticles()">
            <i class="fa fa-play play" aria-hidden="true"></i>
          </button>
          <button 
            class="stop"
            title="stop"
            *ngIf="isPlaying"
            (click)="stopArticles()">
            <i class="fa fa-stop stop" aria-hidden="true"></i>
          </button>
          <button 
            class="forward"
            title="next"
            (click)="forwardArticles()">
            <i class="fa fa-forward forward" aria-hidden="true"></i>
          </button>
          <button 
            class="speed" 
            title="set speed 2x"
            *ngIf="isPlaying && !isFast"
            (click)="setFastSpeed()">
            {{this.speed|speed}}<sub>x</sub>
          </button>
          <button 
            class="speed" 
            title="set speed 1x"
            *ngIf="isPlaying && isFast"
            (click)="setRegSpeed()">
            {{this.speed|speed}}<sub>x</sub>
          </button>
        </div>
      </ng-container>
      
      <ng-container *ngIf="isActive && articles.length === 1">
        <div class="no-articles">
          only one article available
        </div>
      </ng-container>
      <ng-container *ngIf="isActive && articles.length === 0">
        <div class="no-articles">
          no articles available
        </div>
      </ng-container>
      
      <ng-container *ngIf="isActive">
        <details 
          class="source-selector" 
          [class.active]="detailsOpen"
          (click)="toggleSources()">
          
          <summary [class.active]="detailsOpen">
            <i class="fa fa-globe" aria-hidden="true"></i>
            &nbsp;<small><i>source:</i></small>
            &nbsp;<span>{{articles[0].source.name}}</span>
            &nbsp;<i class="fa fa-caret-up" [class.active]="detailsOpen" aria-hidden="true"></i>
          </summary>
          <div class="src-btn-wrap">
            <button 
              *ngIf="currentSource !== 'fox-news'"
              (click)="getArticleBySource('fox-news')">
              Fox news
            </button>
            <button 
              *ngIf="currentSource !== 'cnn'"
              (click)="getArticleBySource('cnn')">
              CNN
            </button>
            <button 
              *ngIf="currentSource !== 'bbc-news'"
              (click)="getArticleBySource('bbc-news')">
              BBC news
            </button>
            <button 
              *ngIf="currentSource !== 'google-news'"
              (click)="getArticleBySource('google-news')">
              Google news
            </button>
          </div>
        </details>
      </ng-container>
    </ng-container>
    <ng-template #isLoadingArticles>
      <div @fadeOutLong class="loading-articles">
        <i class="fa fa-spinner" aria-hidden="true"></i>
      </div>
    </ng-template>
  </div>
</ng-container>
<!-- 🚧🚧🚧 -->