@import '../../../SCSS/index.scss';

.news-feed-row {
  padding-top: 3rem;
  transition: 0.5s ease-in-out;
  
  &.isFixed {
    padding-top: 24rem;
  }
  
  .card {
    border-radius: 0.5rem;
    background-color: $bg-color;
    box-shadow: 2px 2px 8px 0px $box-shadow-color;
    
    img  {
      border-radius: 0.5rem 0.5rem 0 0;
      border-top: 0.25rem solid $newRed;
    }
  }
}
