@import '../SCSS/index.scss';

.top-stories-row {
  display: flex;
  justify-content: center;
  padding: 0 0 12rem 0;
  transition: 0.5s ease-in-out;
  
  &.nav-fixed {
    padding: 24rem 0 12rem 0;
  }
}

.news-feed-container {
  background-color: #fff;
}

small {
  position: fixed;
  bottom: 0;
  left: 0.25rem;
  background-color: $newRed;
  padding: 0 0.25rem;
  color: #fff;
  border-radius: 0.25rem 0.25rem 0 0;
  line-height: 1.15;
  padding-top: 0.15rem;
  &::before {
    content: '';
    position: absolute;
    height: 2rem;
    width: 2rem;
    top: -1rem;
    background: $newRed;
    z-index: -1;
  }
}