
<navbar [isNavFixed$]="isNavFixed$" [isSubNavFixed$]="isSubNavFixed$"></navbar>

<div class="container-fluid" id="sub-nav-tar">
  <div 
    [class.nav-fixed]="isNavFixed$|async"
    class="row top-stories-row">
    <top-articles [isNavFixed$]="isNavFixed$"></top-articles>
  </div>
</div>

<sub-nav [isSubNavFixed$]="isSubNavFixed$"></sub-nav>

<div class="container-fluid news-feed-container">
  <div class="row news-feed-row">
    <news-feed></news-feed>
  </div>
</div>

<small style="position: fixed; bottom: 0; left: 0.25rem;">&copy; Michael Cote 2021</small>