
<navbar [isNavFixed$]="isNavFixed$" [isSubNavFixed$]="isSubNavFixed$"></navbar>

<div class="container-fluid" id="sub-nav-tar">
  <div 
    [class.nav-fixed]="isNavFixed$|async"
    class="row top-stories-row">
    <top-articles></top-articles>
  </div>
</div>

<sub-nav [isSubNavFixed$]="isSubNavFixed$" [topic]="topic"></sub-nav>

<div class="container-fluid news-feed-container">
  <div class="row news-feed-row">
    <news-feed [topic]="topic"></news-feed>
  </div>
</div>

<small>👨‍🔬 Michael Cote 2021</small>
