

$bg-color: rgb(252, 242, 242);
$box-shadow-color: rgba(82, 41, 41, 0.451);

$newRed: #f50035;
$newGreen: #2bd341;





// mix-ins
@mixin center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}